<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="2" android:versionName="1.5-SNAPSHOT"
	package="de.consolewars.android.app">
	<application android:debuggable="true" android:icon="@drawable/cw_logo"
		android:label="@string/app_name" android:name="de.consolewars.android.app.CWApplication"
		android:persistent="false" android:theme="@style/CheckTheme">
		<activity android:configChanges="keyboardHidden|orientation"
			android:icon="@drawable/cw_logo" android:name=".SplashScreenActivity"
			android:screenOrientation="portrait" android:theme="@style/CheckTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.CwNavigationMainTabActivity"
			android:screenOrientation="portrait" android:theme="@style/CheckTheme" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.news.NewsActivityGroup" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.news.NewsActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.blogs.BlogsActivityGroup"
			android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.blogs.BlogsActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.msgs.MessagesActivityGroup"
			android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.msgs.MessagesActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.shout.ShoutboxActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.shout.ShoutboxActivityGroup"
			android:screenOrientation="portrait" />
		<activity android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation" android:name=".tab.blogs.SingleBlogActivity"
			android:screenOrientation="portrait" />
		<activity android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation" android:name=".tab.msgs.SingleMessageActivity"
			android:screenOrientation="portrait" />
		<activity android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation" android:name=".tab.news.SingleNewsActivity"
			android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.overview.OverviewActivity"
			android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.shout.ShoutboxActivityGroup"
			android:screenOrientation="portrait" />
		<activity android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation" android:name=".tab.overview.OverviewActivityGroup"
			android:screenOrientation="portrait" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".tab.news.NewsPicViewerActivity"
			android:screenOrientation="portrait" />
		<activity android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation" android:name=".tab.cmts.CommentsActivity"
			android:screenOrientation="portrait" />



	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="6" android:targetSdkVersion="10" />
</manifest>